.chess-game {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
}

.chess-board {
    height: auto;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.end-report {
    background-color: grey;
    width: 100%;
    height: 100%;
    margin: 0;
}


.chess-piece:before {
    position: relative;
	content: '';
    padding-top: 100%;
    float: left;
}



.chess-piece {
    position: relative;
    font-size: 110%;
    margin: 0;
    text-align: center;
    width: 12.5%;
    height: 12.5%;
    border: none;
}





.light-tile {
    background-color: #EDD0A7;
}

.dark-tile {
    background-color: #63421C;
}

.selected-tile {
    background-color: #6f2da8;
}

.selectable-tile {
    background-color: #bf00ff;
}

.white {
    color: white;
}

.black {
    color: black;
}

.end-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 100%;
}

.promotion-tile {
    color: #7f7f7f;
    width: 150px;
    height: 150px;
}