.connect-four-tile:before {
    pointer-events: none;
	content: '';
    padding-top: 100%;
    float: left;
}

.connect-four-tile {
    pointer-events: auto;
    margin: 0;
    text-align: center;
    width: 14.28%;
    border: black;
    border-style: solid;
    font-size: 0%;
}

.connect-four-board {
    height: auto;
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.connect-four-white, .connect-four-white:hover {
    background-color: white;
}

.connect-four-black, .connect-four-black:hover {
    background-color: black;
}