.ttt-board {
    height: auto;
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ttt-tile:before {
    pointer-events: none;
	content: '';
    padding-top: 100%;
    float: left;
}

.ttt-tile {
    pointer-events: auto;
    margin: 0;
    text-align: center;
    width: 33.33%;
    border: black;
    border-style: solid;
    z-index: 10;
    font-size: 0%;
}

.ttt-white, .ttt-white:hover {
    background-color: white;
}

.ttt-black, .ttt-black:hover {
    background-color: black;
}